<div class="container">
  <div class="card-body">

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group">
        <label>Email:</label>
        <input type="text" formControlName="email" class="form-control">
      </div>

      <div class="form-group">
        <label>Haslo:</label>
        <input type="password" formControlName="password" class="form-control">
      </div>
    </form>

    <button (click)="login()" class="btn btn-primary" [disabled]='loginForm.invalid'>Zaloguj się</button>

    <button (click)="signUp()" class="btn btn-primary">Zarejestruj się</button>
  </div>
</div>
