/* You can add global styles to this file, and also import other style files */
header {

}

body {

}

.background {
  position: absolute;
  top: 0;
  background-image: url('assets/background3.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 20px;
  z-index: 1;
}
