<div class="container">
  <div class="card-body">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="form-group">
        <label>Imię:</label>
        <input type="text" formControlName="name" class="form-control">
      </div>

      <div class="form-group">
        <label>Nazwisko:</label>
        <input type="text" formControlName="lastName" class="form-control">
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="text" formControlName="email" class="form-control">
      </div>

      <div class="form-group">
        <label>Ulica:</label>
        <input type="text" formControlName="street" class="form-control">
      </div>

      <div class="form-group">
        <label>Numer domu:</label>
        <input type="text" formControlName="houseNumber" class="form-control">
      </div>

      <div class="form-group">
        <label>Numer telefonu:</label>
        <input type="number" formControlName="telephone" class="form-control">
      </div>

      <div class="form-group">
        <label>Haslo:</label>
        <input type="password" formControlName="password" class="form-control">
      </div>
    </form>
    <div class="card-body">

        <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [style]="{'width':'350px'}" filter="true">
          <ng-template let-cities pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
              <div style="font-size:14px;float:left;margin-top:4px">{{cities.label}}</div>
            </div>
          </ng-template>
        </p-dropdown>

        <p-dropdown [options]="specialist" [(ngModel)]="selectedSpecialist" [style]="{'width':'350px'}" filter="true">
          <ng-template let-specialist pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
              <div style="font-size:14px;float:left;margin-top:4px">{{specialist.label}}</div>
            </div>
          </ng-template>
        </p-dropdown>
    </div>

    <button (click)="signUp()" class="btn btn-primary" [disabled]='signUpForm.invalid'>Zarejestruj się</button>
    <button (click)="login()" class="btn btn-primary">Zaloguj się</button>

  </div>
</div>


