<div class="container">
  <div class="row bottom-buffer">
    <div class="col-10">
      <button *ngIf="!isLoggedCustomer" class="btn btn-primary float-right" style="margin: 1px" (click)="login()">
        Zaloguj się
      </button>
      <button class="btn btn-primary float-right" style="margin: 1px" (click)="loginAsDoctor()">Jesteś lekarzem?
      </button>
      <button *ngIf="isLoggedCustomer" class="btn btn-primary float-right" style="margin: 1px"
              (click)="loginAsDoctor()">Jesteś lekarzem?
      </button>
    </div>
  </div>


  <div class="container">
    <div class="card-body">
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" [style]="{'width':'402px'}" filter="true">
        <ng-template let-cities pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="font-size:14px;float:left;margin-top:4px">{{cities.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <p-dropdown [options]="specialist" [(ngModel)]="selectedSpecialist" [style]="{'width':'402px'}" filter="true">
        <ng-template let-specialist pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="font-size:14px;float:left;margin-top:4px">{{specialist.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>

      <button (click)="findDoctors()" class="btn btn-primary">Szukaj</button>

    </div>


    <div class="card-body">
      <p-dataView #dv [value]="doctors" [paginator]="true" [rows]="5" paginatorPosition="both" filterBy="lastName"
                  [style]="{'width':'885px'}"
                  [sortField]="sortField" [sortOrder]="sortOrder" *ngIf="displayInfoAboutDoctors">
        <p-header>
          <div class="ui-helper-clearfix">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-4">
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sortuj według"
                            (onChange)="onSortChange($event)" [autoWidth]="false"
                            [style]="{'min-width':'15em'}"></p-dropdown>
              </div>
              <div class="ui-g-6 ui-md-4 filter-container">
                <div style="position:relative">
                  <input type="search" pInputText placeholder="Wyszukaj po nazwisku"
                         (keyup)="dv.filter($event.target.value)">
                </div>
              </div>
            </div>
          </div>
        </p-header>
        <ng-template let-doctor pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-12 doctor-details">
              <div class="ui-g">
                <div class="ui-g-2 ui-sm-12">Imię i nazwisko:</div>
                <div class="ui-g-10 ui-sm-12"><b>{{doctor.name + " " + doctor.lastName}}</b></div>

                <div class="ui-g-2 ui-sm-12">Adres:</div>
                <div class="ui-g-10 ui-sm-qw"><b>{{doctor.address['cityName']}}</b></div>

                <div class="ui-g-2 ui-sm-12">Email:</div>
                <div class="ui-g-10 ui-sm-6"><b>{{doctor.email}}</b></div>

                <div class="ui-g-2 ui-sm-12">Telefon:</div>
                <div class="ui-g-10 ui-sm-12"><b>{{doctor.telephone}}</b></div>

                <div class="ui-g-2 ui-sm-12">Opinia ogólna:</div>
                <div class="ui-g-10 ui-sm-12"><b>{{doctor.mark+"/5"}}</b></div>
                <div class="ui-g-2 ui-sm-12">Opinie użytkowników:</div>
                <div>
                  <div class="card-body">
                    <li class="ui-g-10 ui-sm-6" *ngFor="let opinion of doctor.opinions">
                      {{ opinion.opinion }}
                    </li>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui-g-12">
              <button *ngIf="isLoggedCustomer" class="button" (click)="selectDoctor($event, doctor)">Dodaj opinię
              </button>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>


<p-dialog header="Dodaj opinię po wizycie" [(visible)]="displayDialog" [responsive]="true" showEffect="fade"
          [modal]="true" width="700" height="470" (onAfterHide)="onDialogHide()">
  <div class="ui-g" *ngIf="selectedDoctor">
    <div class="container">
      <div class="card-body">
        <div class="ui-g-4">Dodaj opinię</div>
        <textarea pInputTextarea [(ngModel)]="customerOpinion" [rows]="10" [cols]="30"></textarea>
        <div class="ui-g-4">Dodaj ocenę</div>
        <input id="input" type="number" width="40" size="40" pInputText [(ngModel)]="doctorMark">
      </div>
      <button (click)="sendOpinion(customerOpinion, selectedDoctor, doctorMark)">Prześlij opinię</button>
    </div>
  </div>
</p-dialog>




