<!--<button class="btn btn-secondary" (click)="logout()">Wyloguj się</button>btn btn-primary float-right-->
<div class="container">
  <div class="row bottom-buffer">
    <div class="col-12">
      <button class="btn btn-secondary float-right" (click)="logout()">Wyloguj</button>
    </div>
  </div>

</div>
