<div class="container">
  <div class="card-body">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="form-group">
        <label>Imię:</label>
        <input type="text" formControlName="name" class="form-control">
      </div>

      <div class="form-group">
        <label>Nazwisko:</label>
        <input type="text" formControlName="lastName" class="form-control">
      </div>

      <div class="form-group">
        <label>Email:</label>
        <input type="text" formControlName="email" class="form-control">
      </div>

      <div class="form-group">
        <label>Haslo:</label>
        <input type="password" formControlName="password" class="form-control">
      </div>

      <!-- <div class="form-group"> -->
      <!-- <label>Powtorz haslo:</label> -->
      <!-- <input type="password" formControlName="repeatedPassword" class="form-control"> -->
      <!-- </div> -->

    </form>

    <button (click)="signUp()" class="btn btn-primary" [disabled]='signUpForm.invalid'>Zarejestruj się</button>
    <button (click)="login()" class="btn btn-primary">Zaloguj się</button>

  </div>
</div>
